<div class="top-container">
    <div class="top-content">
        <h1 class="top-title">タイトル</h1>
        <p class="top-subtitle">サブタイトル</p>
    </div>
    <div class="map-visual">
        <%# ここに地図を入れる %>
    </div>
    <div class="bottom-content">
        <%=link_to "旅行計画をはじめる", plans_path, class: "top-btn" %>
    </div>
</div>